<mat-card class="main-card">
    <mat-card-header class="main-card-head">
        <mat-card-title>Upload your image</mat-card-title>
        <mat-card-subtitle>File should be jpeg, png...</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="img-bg">
    <img mat-card-sm-image src="../../assets/images/add-image (1).png">
    
        <p>Drag and drop your image here</p>
    </mat-card-content>

    <mat-card-content>
        <p>Or</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary">Choose a file</button>
    </mat-card-actions>
</mat-card>

<mat-card class="progress-card">
  <mat-card-title class="progress-card-title">Uploading...</mat-card-title>
  <mat-progress-bar class="progress-bar" mode="indeterminate"></mat-progress-bar>
</mat-card>

<mat-card class="main-card">
  <mat-card-header class="uploaded-main-card-head">
      <mat-icon class="icon">check_circle</mat-icon>
      <mat-card-title>Successfully Uploaded</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]=link class="uploaded-image">
  <!-- <mat-card-content class="img-bg">
  
  </mat-card-content> -->

  <mat-card-content class="link">
    <p>{{link}}</p>
    <button mat-raised-button color="primary">Copy</button>
  </mat-card-content>
</mat-card>

  